html,
body {
    height: 100vh;
}

/* =========TITRE========= */

h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 55px !important;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
    filter: brightness(1.25);
    text-align: center;
}

@media (max-width:576px) {
    h1 {
        font-size: 45px !important;
    }
}

h2 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
    margin-bottom: 10px;
}

h3 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}


/* ========FIN TITRE========= */

/* ========PARAGRAPHE======= */

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 25px;
    color: rgb(105, 103, 103);
}

/* ========LIEN========== */

a {
    text-decoration: none !important;
    text-shadow: 1px 1px rgb(31, 84, 230);
}

a:hover {
    color: #1fdce9 !important;
}

/* =====FOND ECRAN PRINCIPAL====== */

/* #bgImg {
    border: 1px solid;
    color: #4ee91f;
} */

/* =========ESPACES ======== */

#space {
    background-color: #c5f5e594;
}

/* ==========CARD============ */

#cardHeight {
    margin-bottom: 10px;
}

/*===========NAVBAR========== */
.navbar {
    background-color: #053180;
    font-size: 17px;
}

.navbar a {
    color: #1fe5e9 !important;
}

.navbar a:hover {
    color: #4ee91f !important;
}


.dropdown-menu {
    background-color: #053180 !important;
}

.dropdown-item {
    background-color: #053180;
}

@media (min-width: 992px) {
    #logoutLogin {
        text-align: end;
    }
}

/* =====HEADER======= */

#imgIntro {
    background-size: cover;
    height: 400px;
}

#message {
    max-width: 100%;
    /* largeur de la fenêtre */
    margin: 1em auto 1em;
    border: 10px solid #F0F0FF;
    overflow: hidden;
    /* masque tout ce qui dépasse */
    background-color: #c5f5e594;
    color:  rgb(228, 63, 63);
    font-size: x-large;
}

#message> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 50s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

/* ==========SECTION DROITE=========== */

/* =======MEILLEUR ARTICLE========= */
#colorText {
    text-decoration: none;
}


.card-header {
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}

/* ==========FOOTER========== */

#footerHeight {
    height: 230px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

/* ====FORMULAIRE CONNEXION===== */

#bgImageConnexion {
    background-size: cover;
}